.homeParent{
    height: 100vh;
    background-color: #282c34;
}

.table-cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.output-table {
  font-size: 16px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  min-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.output-table td,
.output-table th {
  text-align: center;
  padding: 9px;
}

.output-table td {
  border-right: 1px solid #faf7f7;
  font-size: 15px;
}

.output-table thead th {
  color: #ffffff;
  background: #4caf50;
  width: 20%;
}

.output-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #1a3755;
}

.output-table tr:nth-child(even) {
  background: #f8f8f8;
}

.deleteButton {
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  font-size: 14px;
  background-color: #f44336;
  color: white;
  transition: 0.3s;
}

.deleteButton:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.editButton {
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  font-size: 14px;
  background-color: #2196f3;
  color: white;
  transition: 0.3s;
}

.editButton:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.viewButton {
  padding: 15px 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #1a3755;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.listbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.listbar > h2 {
  margin-left: 1%;
  color: #4caf50;
}

.icon {
  cursor: pointer;
}

.filterBox {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filterBox > input {
  margin-top: 4px;
  padding: 5px 20px;
  width: fit-content;
  outline: none;
}

.navbarCover {
  background-color: #1a3755;
  padding: 10px;
}

.listbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background-color: #1a3755;
}

.listbar > h2 {
  margin-left: 1%;
  color: #c8ddf3;
}

.viewButton {
  padding: 15px 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  background-color: #3484da;
  transition: 0.3s;
  display: flex;
}

.icon {
  cursor: pointer;
}

.buttonsection {
  min-width: 15%;
  display: flex;
  justify-content:space-around;
}
